#add_peep
  %form{:action => "/peeps", :method => "post"}
    %textarea{name: 'post', placeholder: 'no more than 140 characters', cols: '70', rows: '2'}
    %input{type: "submit", class: 'button', value: "Add peep!"}