#add_peep
  %form{action: "/peeps", name: "add_peep", method: "post"}
    %textarea{name: 'post', id: 'post', placeholder: 'no more than 140 characters', cols: '70', rows: '2'}
    %input{type: "submit", class: 'button', value: "Peep!"}

%script
  - $(function(){
      $('add_peep').submit(handlePeepSubmit);
    })