- if flash[:notice]
  #notice=flash[:notice]

-if flash[:errors] && !flash[:errors].empty?
  %p{class: 'lead'}
    Sorry, there were the following problems with your form.
    %ul{id: 'errors'}
      -flash[:errors].each do |error|
        %li{class: 'text-error'}
          =error