%footer
  #makersacademy-logo
    %a{href: 'http://www.makersacademy.com'}
      %img{src: "http://www.makersacademy.com/assets/logo.png"}

  #technologies
    %p
      I built this page at
      %a{href: 'http://www.makersacademy.com'}
        Makers Academy, 
      a highly selective 12 week coding course in London.
    %p{id: 'copyright'}
      Copyright 2013 
      %a{href: "http://www.margonline.co.uk"}
        margOnline