%header
  #logo
    %h1
      %a{href: "/"}
        %img{src: 'images/super-bird.jpeg'}
        Super Chitter

  #peeps
  - if maker_signed_in
    %span{id: 'welcome-message'}
      Welcome, #{current_user.email}
    %form{id: "sign-out", method: "post", action: "/sessions"}
      %input{type: "hidden", name: "_method", value: "delete"}
      %input{type: "submit", value: "Sign out"}

  - else
    %a{href: '/makers/new', id: 'sign-up', class: 'button'}
      Sign up
    %a{href: '/sessions/new', id: 'sign-in', class: 'button'}
      Sign in