!!!
%html
  %head
    %title Chitter
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/css/bootstrap-responsive.min.css', type: 'text/css'}
    / %link{rel: 'stylesheet', href: '/css/reset.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/css/application.css', type: 'text/css'}
    %script{src: 'http://code.jquery.com/jquery-2.0.3.min.js'}
    %script{src: '/js/application.js'}

  %body
    .wrapper
      = partial :header
      = partial :flash
      = yield
      .push
    = partial :footer